@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
--Dark-Blue: hsl(209, 23%, 22%);
/* (Dark Mode Elements) */
--Very-Dark-Blue : hsl(207, 26%, 17%);
/* (Dark Mode Background) */
--Very-Dark-Blue : #202C37;
/* (Light Mode Text) */
--Dark-Gray: hsl(0, 0%, 52%);
/* (Light Mode Input) */
--Very-Light-Gray: hsl(0, 0%, 98%);
/*  (Light Mode Background) */
--White: hsl(0, 0%, 100%);
/* (Dark Mode Text & Light Mode Elements) */


/* The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px */


--Homepage-Items: 14px;
--Detail-Page: 16px ;
--font: 'Nunito Sans', sans-serif;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.home{
  height: 100%;
  min-height: 100vh;
}
.light{
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
  transition: .2s all;
}

.dark{
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
  transition: .2s all;
}
